/**
Färgschema:

BLÅTT:
#7C8BC1 Bas
#D8DEF3 Ljus
#AAB5DD Mellan Ljus
#5566A4 Mellan Mörk
#384A8A Mörk

RÖTT:
#FF9A97 Bas
#FFE0DF Ljus
#FFBEBC Mellan Ljus
#F2706D Mellan Mörk
#CC4642 Mörk

GULT:
#FFDF97 Bas
#FFF5DF Ljus
#FFEBBC Mellan Ljus
#F2C96D Mellan Mörk
#CCA242 Mörk

GRÖNT:
#7FD685 Bas
#D8F7DA Ljus
#ABE9AF Mellan Ljus
#56BE5D Mellan Mörk
#34A13B Mörk


ALTERNATIV FÄRG

02CFB6 LJUSBLÅTT
304F78 MELLAN BLÅTT
23304A MÖRKBLÅTT
FA4556 RÖTT

465B4B GRÖN FIN
A36E61 RÖD FIN
A37856 ORANGE/GUL


*/
:root {
	--site-width: 100%;
	--height:98vh;
	--circleheight:35%;
	--circlewidth:28%;
	--circleheighthover:38%;
	--circlewidthhover:30%;
}
html {
	  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}


body {
	margin: 0;
	padding: 0;
}
header {
background:#4D596B;
text-align: right;
padding: 1em;
position: fixed;
top:0;
transition: top 0.2s ease-in-out;
width: var(--site-width);
height: 1.25em;
z-index: 99;
}
header.hide { top: -3.75em; }


ul#contacticons {
	margin: 0;
	padding: 0;
	width: inherit;
	height: 2.5em;
	text-align: center;
	line-height: 2.5em;

}
li#contacticons {
	display: inline-block;
	vertical-align: middle;
	margin-left: 11%;
	margin-top: 7%;
		   -webkit-animation: fadein 2.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2.5s; /* Firefox < 16 */
        -ms-animation: fadein 2.5s; /* Internet Explorer */
         -o-animation: fadein 2.5s; /* Opera < 12.1 */
            animation: fadein 2.5s;
}
li#nav {
	font-size: 0.8em;
	display: inline-block;
	vertical-align: middle;
	margin-right:3em;
	letter-spacing: 0.3em;
	font-family: 'Oxygen', sans-serif;
		-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;

}
ul#contactpage {
	margin-left: 35%;
	/*width: 100%;
	letter-spacing: 7px;*/
}
li#contactpage {
	margin-top:5%;
	list-style-type: none;
  margin-bottom: 1.5%;
  display: flex;

	/*display:;
	float:left;
	width: 15%;*/
}
div#contactcontainer {
	width:50%;
	float:left;
}
a#underline {
	text-decoration: none;
	color:#fff;
	 border-bottom: 1.5px solid rgba(255, 255, 255, 0);
	-webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
a#underline:hover{
	 border-bottom: 1.5px solid rgba(255, 255, 255, 0.9);
	-webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

p#contacttext {
	margin-top:1%;
	margin-left:10%;

	font-family: 'Oxygen', sans-serif;
	letter-spacing: 0.25em;
	color:#FFFFFF;
	float:left;

	font-variant: small-caps;
	font-size: 1.2em;
}
a {
	color: #fff;
	text-decoration: none;
	-webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
a:hover {
	color: #A0B4BF;
}

div#resumetext {
	margin-top:18%;
	text-align: center;
}
#education {
	font-family: 'Gill', sans-serif;
	color: #000;
	font-size: 0.8em;
}
#employmentheader {
	margin-top:5%;
	font-family: 'Gill', sans-serif;
	color: #000;
	font-size: 0.8em;
}
#employment {
	font-family: 'Gill', sans-serif;
	color: #000;
	font-size: 0.8em;
}
#download {
	margin-top:10%;
	font-family: 'Gill', sans-serif;
	font-style: italic;
	color: #000;
	text-align: center;
	font-size: 0.8em;
	cursor:pointer;
	-webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
#download:hover {
	color:#73736F;

}

div#home {
	width: var(--site-width);
	height: 100vh;
	background-image:url(Images/areskutanweb.jpg);
	text-align: center;
	display:flex;
	  background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    background-size: cover;
	align-items:center;
	z-index: -1;
		
}

div.parallax {
	width: var(--site-width);
	height:25vh;
	background-image:url(Images/skigogglesweb.jpg);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	align-items:center;
}

div#about {
	width: var(--site-width);
	height: var(--height);
	background-color: #64826B;
	background-repeat: no-repeat;
	background-size: cover;
	display:flex; 
	z-index: 99;
}

div#work {
	width: var(--site-width);
	height: var(--height);
	background-color: #A36E61;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
	background-image:url(Images/brasaweb.jpg);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	align-items:center;
}
div#resume {
	width: var(--site-width);
	height: var(--height);
	background-color: #E5E5DD;
	background-repeat: no-repeat;
	background-size: cover;
	display:flex; 
	z-index: 2;
}
div#contact {
	width: var(--site-width);
	height: var(--height);
	background-color: #A0B4BF;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 3;
}
div#gallery {
	width: var(--site-width);
	height:var(--height);
	background-position: center;
	background-color:#202229;
	background-repeat: no-repeat;
	background-size: cover;
	align-items:center;
}
div#imageholder {
	height:60%;
	align-items: center;
	position:relative;
	margin: 0 auto;
	width:60%;
	margin-top:8%;
	background-color:#fff;
}
.slide-image {
	width:50%;
	position: relative;
}
/*div#btnleft {
	width: 15%
	height:15%;
	float:left;
}
div#btnright {
	width: 15%;
	height:15%;
	float:right;

}
img.slideshow {
	height:90%;
	align-items: center;
	position:relative;
	margin-left:18.5%;
	margin-top: 0.5%;
}*/

div#workcircles {
	width: 80%;
	height: 80%;
	position: relative;
	top: 100%;
	transform: translateY(-100%);
	background-repeat: no-repeat;
	background-size: cover;	
	margin: 0 auto;
}
div#portfolioheader {
	width: 60%;
	display:flex;
	margin:0 auto;

	height:10%;
}

div#outerrectangle {
	width: 30%;
    height: 50%;

    position:absolute; 
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;


}
div#innerrectangle {
	width:90%;
	height:80%;
	position: relative;

	margin:0 auto;
	text-align: center;
}
div#circle {
	height: 7.5em;
	width: 7.5em;
	background-image: url(Images/me.png);
	background-size: cover;
	margin: 0 auto;
	-webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.5s; /* Firefox < 16 */
        -ms-animation: fadein 1.5s; /* Internet Explorer */
         -o-animation: fadein 1.5s; /* Opera < 12.1 */
            animation: fadein 1.5s;

	border-radius: 50%;
}
#inline {
	width: inherit;
	display:inline-block;
}
p#welcometext {
	font-family: 'Oxygen', sans-serif;
	color:#FFFFFF;
	margin: 0 auto;
	margin-top:5%;
	font-variant: small-caps;
	font-size: 2em;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}
p#welcometextsmall {
	font-family: 'Oxygen', sans-serif;
	color:#FFFFFF;
	margin: 0 auto;
	margin-top: 3%;
	font-variant: small-caps;
	font-size: 1.2em;
	-webkit-animation: fadein 2.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2.5s; /* Firefox < 16 */
        -ms-animation: fadein 2.5s; /* Internet Explorer */
         -o-animation: fadein 2.5s; /* Opera < 12.1 */
            animation: fadein 2.5s;
}
#instagram {
	background-image: url(Images/instagram.png);
	background-size:contain;
	height: 2.5em;
	width: 2.5em;
	display: inline-block;
    cursor: pointer;
}
#instagram:hover {
	opacity:0.8;
}
#linkedin {
	background-image: url(Images/linkedin.png);
	background-size:contain;
	height: 2.5em;
	width: 2.5em;
	display: inline-block;
    cursor: pointer;
}
#linkedin:hover {
	opacity: 0.8;
}
#github {
	background-image: url(Images/github.png);
	background-size:contain;
	height: 2.5em;
	width: 2.5em;
	display: inline-block;
    cursor: pointer;

}
#github:hover {
	opacity:0.8;
}
#facebook {
	background-image: url(Images/facebook.png);
	background-size:contain;
	height: 2.5em;
	width: 2.5em;
	display: inline-block;
    cursor: pointer;
}
#facebook:hover {
	opacity: 0.8;
}
#mail {
	background-image: url(Images/mail.png);
	background-size:contain;
	height: 2.5em;
	width: 2.5em;
	display: inline-block;
    cursor: pointer;
}
#mail:hover {
	opacity: 0.8;
}
#phone {
	background-image: url(Images/phone.png);
	background-size:contain;
	height: 2.5em;
	width: 2.5em;
	display: inline-block;
}
#footer {
  margin: 0 auto;
  height:1.5em;
  background-color: #E5E5DD;
  text-align: center;
  font-family: 'Gill', sans-serif;
  font-size: 0.75em;
}
/* ORIGINAL
.container {
	margin:0 auto;
	width: 60%;
	height:inherit;
}*/
.container {
	margin:0 auto;
	width: 60%;
	float:right;
	height:100%;
}
.rubric {
	font-size: 1.4em;
	font-family: 'Oxygen', sans-serif;
	color:#fff;
	letter-spacing: 0.2em;
	text-align: left;
	font-variant: small-caps;
	display:table-row;
}
.rubricresume {
	font-size: 1.4em;
	font-family: 'Oxygen', sans-serif;
	color:#000;
	letter-spacing: 0.2em;
	text-align: left;
	font-variant: small-caps;
	display:table-row;
}
div.rubric-containerresume {
	margin: 0 auto;
	padding-top: 2%;
	padding-bottom: 2%;
	width: 100%;
	display:table;
	border-bottom: 0.2em solid #000;
	overflow: auto;
}
div.rubric-container {
	margin: 0 auto;
	padding-top: 1%;
	padding-bottom: 1%;
	width: 60%;
	display:table;
	border-bottom: 0.2em solid #fff;
	overflow: auto;
}
div#abouttext {
	width: 50%;
	height:inherit;
	float: right;
}
p#abouttext {
	font-family: 'Oxygen', sans-serif;
	font-size: 1em;
	color: #fff;
	margin-left: 2%;
	margin-right: 20%;
}
p#contactme {
	font-family: 'Oxygen', sans-serif;
	font-size: 1em;
	color: #fff;
	margin-bottom: 15%;
	width:inherit;
}
div#half2 {
	width: 50%;
	height:inherit;
	background-image: url(Images/JagAreWeb.jpg);
	background-size: cover;
	margin: 0 auto;
	float: left;
	bottom: 0;
	-webkit-filter: grayscale(0.7);
  filter: gray;
  -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

div#half2:hover {
-webkit-filter: grayscale(0);
  filter: gray;
  -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.rubricabout {
	font-size: 1.4em;
	font-family: 'Oxygen', sans-serif;
	color:#fff;
	letter-spacing: 0.2em;
	margin-left:2%;
	text-align: left;
	font-variant: small-caps;
	top:0;
	left:0;
	display:table-row;
}
div.rubric-containerabout {
	margin: 0 auto;
	padding-top: 1%;
	padding-bottom: 1%;
	width: 29%;
	display:table;
	margin-right: 40%;
	border-bottom: 0.2em solid #fff;
	overflow: auto;
}
.containerabout {
	margin:0 auto;
	width: 100%;
	height:inherit;
	position: relative;
}


div#half {
	width: 50%;
	height:inherit;
	background-image: url(Images/vandringweb.jpg);
	background-size: cover;
	margin: 0 auto;
	float: right;
	-webkit-filter: grayscale(0.7);
  filter: gray;
  -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
div#half:hover {
-webkit-filter: grayscale(0);
  filter: gray;
  -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.rubriccontact {
	font-size: 1.4em;
	font-family: 'Oxygen', sans-serif;
	color:#fff;
	letter-spacing: 0.2em;
	text-align: left;
	font-variant: small-caps;
	top:0;
	left:0;
	display:table-row;
}
div.rubric-containercontact {
	margin: 0 auto;
	padding-top: 1%;
	padding-bottom: 1%;
	width: 29%;
	display:table;
	margin-left: 40%;
	border-bottom: 0.2em solid #fff;
	overflow: auto;
}
.containercontact {
	margin:0 auto;
	width: 100%;
	height:inherit;
	position: relative;
}
/* Disable grayscale on hover */
#aboutimg:hover {
	
  -webkit-filter: grayscale(0.7);
  filter: gray;
  -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

div#workcirkel3 {
	background-color: #fff;
	background-image:url(Images/AllStarLogga2.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	display:flex;
	border-radius: 50%;
	width:21%;
	height:40%;
	float:left;
	transition: box-shadow 0.2s linear;
	cursor: pointer;

}

div#workcirkel3text {
	width:100%;
	height: 100%;
	opacity:1;
	font-size: 1em;
	font-family: 'Oxygen', sans-serif;
	color: #fff; 
	text-align: center;
	
}
p.worktext {
	display: none;
	color:#000;
}
.darken:before {
background: black;
content: "";
opacity: 0.6;
position: absolute;
top: 0;
left: 0;
width: inherit;
height: inherit;
border-radius: 5%;
z-index: 2;
}
div#workcirkel2 {
	background-color: #737373;
	background-image:url(Images/nkergonomics.jpg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	display:flex;
	align-items:center;
	margin: 0 auto;
	border-radius: 50%;
	width:21%;
	height:40%;
	transition: box-shadow 0.2s linear;
	cursor: pointer;
}

div#workcirkel1 {
	background-color: #51ACC4;
	background-image:url(Images/launcher.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display:flex;
	align-items:center;
	margin: 0 auto;
	float:right;
	border-radius: 50%;
	width:21%;
	height:40%;
	transition: box-shadow 0.2s linear;
	cursor: pointer;
}

#workcirkel3:hover {
	box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2);
	transition: box-shadow 0.2s linear;
}
#workcirkel2:hover {
	box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
	transition: box-shadow 0.2s linear;
}
#workcirkel1:hover {
	box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
	transition: box-shadow 0.2s linear;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.mySlides {
    display: none;
}

/* Slideshow container */
.slideshow-container {
  width:60%;
  position: relative;
  margin: 0 auto;
  margin-top:3%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 0;
  color: #fff;
  font-weight: bold;
  font-size: 2em;
  transition: 0.3s ease;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */



/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 0.5em;
  width: 0.5em;
  margin: 0 0.05em;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.active, .dot:hover {
  opacity: 0.3;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}


