/**
Färgschema:

BLÅTT:
#7C8BC1 Bas
#D8DEF3 Ljus
#AAB5DD Mellan Ljus
#5566A4 Mellan Mörk
#384A8A Mörk

RÖTT:
#FF9A97 Bas
#FFE0DF Ljus
#FFBEBC Mellan Ljus
#F2706D Mellan Mörk
#CC4642 Mörk

GULT:
#FFDF97 Bas
#FFF5DF Ljus
#FFEBBC Mellan Ljus
#F2C96D Mellan Mörk
#CCA242 Mörk

GRÖNT:
#7FD685 Bas
#D8F7DA Ljus
#ABE9AF Mellan Ljus
#56BE5D Mellan Mörk
#34A13B Mörk


ALTERNATIV FÄRG

02CFB6 LJUSBLÅTT
304F78 MELLAN BLÅTT
23304A MÖRKBLÅTT
FA4556 RÖTT

465B4B GRÖN FIN
A36E61 RÖD FIN
A37856 ORANGE/GUL


*/
:root {
	--site-width: 100%;
	--height:90vh;
	--circleheight:35%;
	--circlewidth:28%;
	--circleheighthover:38%;
	--circlewidthhover:30%;
}


body {
	margin: 0;
	padding: 0;
}
ul#nav {
	background-color: #000000;
	opacity: 0.6;
	margin: 0;
	padding: 0;
	width: var(--site-width);
	height: 40px;
	text-align: right;
	line-height: 40px;
	position: fixed;
	z-index: 99;
}
ul#contacticons {
	margin: 0;
	padding: 0;
	width: inherit;
	height: 40px;
	text-align: center;
	line-height: 40px;
}
li#contacticons {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10%;
	margin-top: 7%;
}
li#nav {
	font-size: 14px;
	display: inline-block;
	vertical-align: middle;
	margin-right:50px;
	letter-spacing: 5px;
	font-family: 'Oxygen', sans-serif;
}
ul#contactpage {
	margin-left: 17%;
	/*width: 100%;
	letter-spacing: 7px;*/
}
li#contactpage {
	list-style-type: none;
  margin-bottom: 1.5%;
  display: flex;

	/*display:;
	float:left;
	width: 15%;*/
}
a#underline {
	text-decoration: none;
	color:#fff;
	 border-bottom: 1.5px solid rgba(255, 255, 255, 0);
	-webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
a#underline:hover{
	 border-bottom: 1.5px solid rgba(255, 255, 255, 0.9);
	-webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

p#contacttext {
	margin-top:1%;
	margin-left:10%;

	font-family: 'Oxygen', sans-serif;
	letter-spacing: 4px;
	color:#FFFFFF;
	float:left;

	font-variant: small-caps;
	font-size: 1.2em;
}
a {
	color: #fff;
	text-decoration: none;
	-webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
a:hover {
	color: #BED4F0;
	-webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

div#resumetext {
	margin-top:15%;
	text-align: center;
}
#education {
	font-family: 'Gill', sans-serif;
	color: #000;
	font-size: 14px;
}
#employmentheader {
	margin-top:5%;
	font-family: 'Gill', sans-serif;
	color: #000;
	font-size: 14px;
}
#employment {
	font-family: 'Gill', sans-serif;
	color: #000;
	font-size: 14px;
}
#download {
	margin-top:10%;
	font-family: 'Gill', sans-serif;
	font-style: italic;
	color: #000;
	text-align: center;
	font-size: 14px;
	cursor:pointer;
	-webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
#download:hover {
	color:#73736F;
	-webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

div#home {
	width: var(--site-width);
	height: 100vh;
	background-image:url(areskutanweb.jpg);
	text-align: center;
	display:flex;
	  background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	align-items:center;
	z-index: -1;
}
div.parallax2 {
	width: var(--site-width);
	height:15vh;
	background-image:url(brasa4.jpg);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	align-items:center;
}
div.parallax3 {
	width: var(--site-width);
	height:25vh;
	background-image:url(skigogglesweb.jpg);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	align-items:center;
}

div#about {
	width: var(--site-width);
	height: var(--height);
	background-color: #64826B;
	background-repeat: no-repeat;
	background-size: cover;
	display:flex; 
	z-index: 99;


}

div#work {
	width: var(--site-width);
	height: var(--height);
	background-color: #A36E61;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
	background-image:url(brasa4.jpg);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	align-items:center;
}
div#resume {
	width: var(--site-width);
	height: var(--height);
	background-color: #E5E5DD;
	background-repeat: no-repeat;
	background-size: cover;
	display:flex; 
	z-index: 2;
}
div#contact {
	width: var(--site-width);
	height: var(--height);
	background-color: #A0B4BF;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 3;
}

div#workcircles {
	width: var(--site-width);
	height: var(--height);
	background-repeat: no-repeat;
	background-size: cover;
	display:flex;
	align-items: center;
}

div#outerrectangle {
	width: 30%;
    height: 50%;

    position:absolute; 
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;


}
div#innerrectangle {
	width:90%;
	height:80%;
	position: absolute;
	left:0; right:0;
        top:0; bottom:0;
	margin:auto;
	text-align: center;
}
div#circle {
	height: 120px;
	width: 120px;
	background-image: url(jag2.png);
	background-size: cover;
	margin: 0 auto;

	border-radius: 50%;
}
#inline {
	width: inherit;
	display:inline-block;
}
p#welcometext {
	font-family: 'Oxygen', sans-serif;
	color:#FFFFFF;
	margin: 0 auto;
	margin-top:5%;
	font-variant: small-caps;
	font-size: 2em;
}
p#welcometextsmall {
	font-family: 'Oxygen', sans-serif;
	color:#FFFFFF;
	margin: 0 auto;
	margin-top: 3%;
	font-variant: small-caps;
	font-size: 1.2em;
}
#instagram {
	background-image: url(instagram.png);
	background-size:contain;
	height: 40px;
	width: 40px;
	display: inline-block;
    cursor: pointer;
}
#linkedin {
	background-image: url(linkedin.png);
	background-size:contain;
	height: 40px;
	width: 40px;
	display: inline-block;
    cursor: pointer;
}
#github {
	background-image: url(github.png);
	background-size:contain;
	height: 40px;
	width: 40px;
	display: inline-block;
    cursor: pointer;

}
#facebook {
	background-image: url(facebook.png);
	background-size:contain;
	height: 40px;
	width: 40px;
	display: inline-block;
    cursor: pointer;
}
#mail {
	background-image: url(mail.png);
	background-size:contain;
	height: 40px;
	width: 40px;
	display: inline-block;
    cursor: pointer;
}
#phone {
	background-image: url(phone.png);
	background-size:contain;
	height: 40px;
	width: 40px;
	display: inline-block;
    cursor: pointer;
}
.container {
	margin:0 auto;
	width: 60%;
	height:inherit;
}
.rubric {
	font-size: 22px;
	font-family: 'Oxygen', sans-serif;
	color:#fff;
	letter-spacing: 3px;
	text-align: left;
	font-variant: small-caps;
	display:table-row;
}
.rubricresume {
	font-size: 22px;
	font-family: 'Oxygen', sans-serif;
	color:#000;
	letter-spacing: 3px;
	text-align: left;
	font-variant: small-caps;
	display:table-row;
}
div.rubric-containerresume {
	margin: 0 auto;
	padding-top: 2%;
	padding-bottom: 2%;
	width: 100%;
	display:table;
	border-bottom: 2px solid #000;
	overflow: auto;
}
div.rubric-container {
	margin: 0 auto;
	padding-top: 2%;
	padding-bottom: 2%;
	width: 100%;
	display:table;
	border-bottom: 2px solid #fff;
	overflow: auto;
}
div#abouttext {
	width: 50%;
	height:inherit;
	float: right;
}
p#abouttext {
	font-family: 'Oxygen', sans-serif;
	font-size: 16px;
	color: #fff;
	margin-left: 2%;
	margin-right: 20%;
}
p#contactme {
	font-family: 'Oxygen', sans-serif;
	font-size: 16px;
	color: #fff;
	margin-bottom: 3%;
	width:inherit;
}
div#half2 {
	width: 50%;
	height:inherit;
	background-image: url(JagAreWeb.jpg);
	background-size: cover;
	margin: 0 auto;
	float: left;
	bottom: 0;
	-webkit-filter: grayscale(0.7);
  filter: gray;
  -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

div#half2:hover {
-webkit-filter: grayscale(0);
  filter: gray;
  -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.rubricabout {
	font-size: 22px;
	font-family: 'Oxygen', sans-serif;
	color:#fff;
	letter-spacing: 3px;
	text-align: left;
	font-variant: small-caps;
	top:0;
	left:0;
	display:table-row
}
div.rubric-containerabout {
	margin: 0 auto;
	padding-top: 1%;
	padding-bottom: 1%;
	width: 29%;
	display:table;
	margin-right: 40%;
	border-bottom: 2px solid #fff;
	overflow: auto;
}
.containerabout {
	margin:0 auto;
	width: 100%;
	height:inherit;
	position: relative;
}


div#half {
	width: 50%;
	height:inherit;
	background-image: url(vandringweb.jpg);
	background-size: cover;
	margin: 0 auto;
	float: right;
	-webkit-filter: grayscale(0.7);
  filter: gray;
  -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
div#half:hover {
-webkit-filter: grayscale(0);
  filter: gray;
  -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.rubriccontact {
	font-size: 22px;
	font-family: 'Oxygen', sans-serif;
	color:#fff;
	letter-spacing: 3px;
	text-align: left;
	font-variant: small-caps;
	top:0;
	left:0;
	display:table-row;
}
div.rubric-containercontact {
	margin: 0 auto;
	padding-top: 1%;
	padding-bottom: 1%;
	width: 29%;
	display:table;
	margin-left: 40%;
	border-bottom: 2px solid #fff;
	overflow: auto;
}
.containercontact {
	margin:0 auto;
	width: 100%;
	height:inherit;
	position: relative;
}
/* Disable grayscale on hover */
#aboutimg:hover {
	
  -webkit-filter: grayscale(0.7);
  filter: gray;
  -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}




div#workcirkel1 {
	background-color:#fff;
	background-image:url(AllStarLogga2.png);
	background-size:contain;
	background-position: center;
	background-repeat:no-repeat;
	display:flex;
	align-items:center;
	width: var(--circlewidth);
	height:var(--circleheight);
	border-radius: 50%;
	margin: 0 auto;
	-webkit-filter: grayscale(0);
  filter: gray;
  -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;

}
/*#workcirkel1:hover {
	width: var(--circlewidthhover);
	height:var(--circleheighthover);
	-webkit-filter: grayscale(0.7);
  filter: gray;
  -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}*/
/*#workcirkel1:focus {
	border-radius: 0;

	width: 100%;
	height:60%;
	-webkit-filter: grayscale(1);
  filter: gray;

}*/




div#workcirkel2 {
	cursor:pointer;
    background-color:#737373;
	background-image:url(NkErgonomicsGray.png);
	background-size:contain;
	background-position: center;
	background-repeat:no-repeat;
	display:flex;
	align-items:center;
	width: var(--circlewidth);
	height:var(--circleheight);
	border-radius: 50%;
	margin: 0 auto;
	-webkit-filter: grayscale(0);
  filter: gray;
  -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
#workcirkel2:hover {
	width: var(--circlewidthhover);
	height:var(--circleheighthover);
	-webkit-filter: grayscale(1);
  filter: gray;
  -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}





div#workcirkel3 {
    background-color:#51ACC4;
	background-image:url(launcher.png);
	background-size:cover;
	background-position: center;
	background-repeat:no-repeat;
	display:flex;
	align-items:center;
	width: var(--circlewidth);
	height:var(--circleheight);
	border-radius: 50%;
	margin: 0 auto;
	-webkit-filter: grayscale(0);
  filter: gray;
  -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
#workcirkel3:hover {
	width: var(--circlewidthhover);
	height:var(--circleheighthover);
	-webkit-filter: grayscale(1);
  filter: gray;
  -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
